.Pay_main
  .Pay_main__box
    %p{class: "pay_question pay_content"} 購入が完了しました！
    %p{class: "product_name pay_content"} Apple MacBook Pro 13インチ
    %p{class: "product_price pay_content"} ¥135,000(送料込み)
    .back_show
      = link_to "マイページに戻る", "#"