.Pay_main
  .Pay_main__box
    .pay_content
      %label{class: "card_title"} 登録クレジットカード情報
      %br
      .card_info
        = "**** **** **** " + @default_card_information.last4
        %br
      .card_info
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      .delete
        = form_tag(delete_credit_card_path(@card), method: :delete, id: 'charge-form',  name: "inputForm") do
          %input{ type: "hidden", name: "card_id", value: "" }
          %button{class: "delete__btn"} カードを削除する