*{
  box-sizing: border-box;
}
.content_main{
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  .content_box{
    background-color: white;
    width: 50%;
    height: 600px;
    margin-top: 30px;
    .content_title{
      display: flex;
      justify-content: center;
      font-size: 30px;
      padding-top: 20px;
    }
    .credit-card{
      display: flex;
      justify-content: center;
      margin-top: 60px;
      &__inner{
        width: 300px;
        .input-number{
          width: 100%;
          height: 50px;
          font-size: 16px;
        }
        .cards-expire{
          margin-top: 20px;
        }
        .input-expire{
          width: 100px;
          height: 50px;
          font-size: 20px;
          margin-top: 10px;
        }
        .content-bottom--add-btn{
          width: 100%;
          background-color: red;
          margin-top: 20px;
          color: white;
          border: solid 1px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
.require{
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px;
  border-radius: 10%;
}

.Pay_main{
  background-color: #f8f8f8;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 100vh;
  .Pay_main__box{
    background-color: white;
    width: 50%;
    height: 60%;
    .pay_content{
      margin: 20px 0;
    }
    .pay_question{
      font-size: 20px;
      padding-left: 20px;
    }
    .product_name{
      font-size: 28px;
      padding-left: 10px;
    }
    .product_price{
      text-align: right;
      font-size: 24px;
      padding-right: 10px;
    }
    .back_show{
      width: 50%;
      height: 100px;
      margin: 60px 0 0 20px;
      font-size: 20px;
    }
  }
}

.Pay_main{
  background-color: #f8f8f8;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 100vh;
  .Pay_main__box{
    background-color: white;
    width: 50%;
    height: 60%;
    .pay_content{
      margin: 20px 0;
    }
    .pay_question{
      font-size: 20px;
      padding-left: 20px;
    }
    .product_name{
      font-size: 28px;
      padding-left: 10px;
    }
    .product_price{
      text-align: right;
      font-size: 24px;
      padding-right: 10px;
    }
    .pay_title{
      font-size: 20px;
      padding-left: 20px;
    }
      .card_infomation{
        font-size: 20px;
        padding-left: 20px;
      }
    .pay_btn{
      background-color: #3CCACE;
      color: white;
      border-radius: 10%;
      border: solid 1px;
      height: 40px;
      width: 80px;
      cursor: pointer;
      font-size: 16px;
      margin-left: 20px;
    }
    .card_title{
      font-size: 20px;
      padding-left: 26px;
    }
    .delete{
      display: flex;
      justify-content: center;
      &__btn{
        background-color: #3CCACE;
        color: white;
        border-radius: 10%;
        border: solid 1px;
        height: 40px;
        width: 150px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 20px;
        margin-top: 50px;
      }
    }
    .card_info{
      text-align: center;
      padding-right: 20px;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}