*{
  box-sizing: border-box;
}
.content_main{
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  .content_box{
    background-color: white;
    width: 50%;
    height: 600px;
    margin-top: 30px;
    .content_title{
      display: flex;
      justify-content: center;
      font-size: 30px;
      padding-top: 20px;
    }
    .credit-card{
      display: flex;
      justify-content: center;
      margin-top: 60px;
      &__inner{
        width: 300px;
        .input-number{
          width: 100%;
          height: 50px;
          font-size: 16px;
        }
        .cards-expire{
          margin-top: 20px;
        }
        .input-expire{
          width: 100px;
          height: 50px;
          font-size: 20px;
          margin-top: 10px;
        }
        .content-bottom--add-btn{
          width: 100%;
          background-color: red;
          margin-top: 20px;
          color: white;
          border: solid 1px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
.require{
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px;
  border-radius: 10%;
}