.Pay_main{
  background-color: #f8f8f8;
  display: flex;
  padding-top: 50px;
  justify-content: center;
  height: 100vh;
  .Pay_main__box{
    background-color: white;
    width: 50%;
    height: 60%;
    .pay_content{
      margin: 20px 0;
    }
    .pay_question{
      font-size: 20px;
      padding-left: 20px;
    }
    .product_name{
      font-size: 28px;
      padding-left: 10px;
    }
    .product_price{
      text-align: right;
      font-size: 24px;
      padding-right: 10px;
    }
    .back_show{
      width: 50%;
      height: 100px;
      margin-top: 30px;
      background-color: red;
    }
  }
}