.exhibit-main {
  padding: 40px;
  margin: 0 auto;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
  .contentRight {
    width: 700px;
    margin: 0 auto;
    .topContent {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      .uploader-info, .product-info,
      .product-description,
      .shipping-info, .price-info {
        padding: 16px 40px 16px;
        border-bottom: 1px solid #efefef;
        .label-text {
          font-weight: bold;
          font-size: 16px;
        }
        .form-field {
          padding: 16px 0;
        }
        & h2 {
          font-size: 16px;
          color: gray;
        }
        &__calc {
          font-size: 14px;
        }
        .textform_bl {
            display:block;
            width: 100%;
            margin: 6px 0;
        }
        .selectform_bl {
          display:block;
          width: 100%;
        }
        .textarea_bl {
          display:block;
          width: 100%;
          height: 150px;
        }
      }
      .btn-box {
        padding: 16px 40px 16px;
        display: flex;
        justify-content: center;
        .exhibit-btn{
          font-size: 26px;
          color: white;
          width: 60%;
          background-color: #3CCACE;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          border: none;
          display: block;
          padding: 5px 10px;
          margin-top: 10px;
          cursor: pointer;
        }
        .back-btn{
          font-size: 26px;
          color: white;
          width: 60%;
          background-color: gray;
          font-weight: bold;
          text-align: center;
          text-decoration: none;
          border: none;
          display: block;
          padding: 5px 10px;
          margin-top: 4px;
        }
      }
      .notification, .submit-field {
        padding: 16px 40px 16px;
        &__message {
          font-size: 12px;
          text-align: center;
          margin-bottom: 8px;
        }
      }
    }
  }
}
