.sell_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  padding: 0 16px;
}

  .textform_bl {
  display:block;
  width: 60%;
  }

  .selectform_bl {
    display:block;
    width: 60%;
  }
  .textarea_bl {
    display:block;
    width: 60%;
    height: 150px;
    }

.form-field {
  padding: 16px 8px;
}
