.Form-main{
  display: flex;
  justify-content: center;
}

.Form-logo{
  display: flex;
  justify-content: center;
}

.From-box{
  display: flex;
  justify-content: center;
  width: 60%;
  background-color: white;
  &__title{
    text-align: center;
  }
  &__field{
    width: 100%;
    margin: auto;
  }
  &__btn{
    display: flex;
    justify-content: center;
  }
}

.form{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.first_name{
  margin-left: 15px;
}

.first_name_kana{
  margin-left: 15px;
}

.btn{
  background-color: lightskyblue;
  color: white;
  border-radius: 10%;
  border: solid 1px;
  height: 40px;
  width: 80px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 18px;
}

.require{
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px;
  border-radius: 10%;
}

.name-box {
  display: flex;
}

.kana-box{
  display: flex;
}
