* {
  box-sizing: border-box;
}

.Main_wrapper {
  height: 100vh;
  background:#f8f8f8;
  display: flex;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  .Main_container {
    background: #fff;
    width: 720px;
    margin: auto;
    align-items: center;
    .Information {
      padding: 8px 24px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
    .Secondary_content {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 72px 0 24px 0;
      background-image: image-url("pict/user-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      &__inner {
      }
      .profile {
        width: 50px;
        height: 50px;
      }
      .user_name {
        width: 220px;
        height: 42px;
        margin: 0px 0px 0px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 24px;
        text-align: center;
        line-height: 42px;
      }
    }
    .user_box {
      background: #fff;
      padding: 20px 16px;
      display: flex;
      flex-direction: column;
      &__content{
        margin-bottom: 15px;
        font-size: 22px;
        &--info{
          font-size: 18px;
          border: solid 2px #3CCACE;
          margin-top: 10px;
        }
        .product_bar{
          display: flex;
          justify-content: space-between;
          border: solid 2px #3CCACE;
          line-height: 22px;
          padding: 10px;
          margin-top: 10px;
          &__name{
            font-size: 18px;
          }
          &__info{
            font-size: 18px;
          }
        }
        &--info{
          font-size: 18px;
          padding: 5px 10px;
        }
      }
    }
  }
}

.card_pages{
  margin-top: 10px;
  font-size: 20px;
  text-align: right;
}