* {
  box-sizing: border-box;
}
.Mainwrapper {
  height: 100vh;
  background:#f8f8f8;
  display: flex;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}
.Maincontainer {
  background: #fff;
  height: 600px;
  width: 720px;
  margin: auto;
  align-items: center;
}
.Information {
  padding: 8px 24px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.Secondarycontent {
  width: 100%;
  padding: 72px 0 24px 0;
  background: url(/user-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.profile {
  width: 50px;
  height: 50px;
}
.username {
  width: 220px;
  height: 42px;
  margin: 0px 0px 0px 8px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  justify-content: center;
}
.Formbox {
  background: #fff;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  &__form {
    height: 216px;
  }
}
textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
  padding: 10px;
  border: 1px solid #ccc;
}
.edit {
  margin: 16px 0px 0px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}