%aside.appBanner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to image_tag("icon/icon_apple.png", class:"bannerBtn")
      = link_to image_tag("icon/icon_google.png", class:"bannerBtn")
